<!DOCTYPE html>
<html>
	<head>
		<title>philtr.net</title>
		<link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://philtr.myopenid.com/">
    <link href=' http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:bold' rel='stylesheet' type='text/css'>
    <style type="text/css">
			h1 {
				font-family: 'Yanone Kaffeesatz';
				font-weight: bold;
				font-size: 125px;
				overflow: hidden;
				text-align: center;
			}
			p {
			  margin-top: -75px;
			  font-family: "Lucida Grande", "Lucida Sans Unicode", "Bitstream Vera Sans", sans-serif;
			  text-align: center;
			  font-size: 14px;
			}
			a { color: #55f;}
		</style>
	</head>
	<body>
		<h1>philtr.net</h1>
		<p><a href="http://blog.philtr.net">blog</a> | <a href="http://twitter.com/philtr">@philtr</a> | <a href="http://phillipridlen.com">phillipridlen.com</a></p>
	</body>
</html>
