    <h1><a href="mailto:--@philtr.net">&ndash;&ndash;<strong>@philtr</strong>.net</a></h1>
    <p><a href="/w">website</a></p>
    <p><a href="/l">blog</a></p>
    <p><a href="/ob">oven bits</a></p>
    <p><a href="/t">twitter</a></p>
    <p><a href="/g">github</a></p>
    <p><a href="/f">facebook</a></p>
    <p><a href="/p">google</a></p>
    <p><a href="/n">linkedin</a></p>
    <p><a href="/fr">flickr</a></p>
    <p><a href="/lfm">last.fm</a></p>
    <p><a href="/fst">forrst</a></p>
